html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100%;
    padding-bottom: 5rem;
}

.title {
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

textarea {
    height: 200px!important;
}

.clients-list .client {
    border-bottom: 1px solid #e1e1e1;
    padding: 2rem;
    padding-bottom: 3rem;
    
}
.clients-list .client:last-of-type {
    border-bottom: 0;
}

.clients-list .client p {
    margin:0;
}
.clients-list .client a {
    margin-top: 1rem!important;
}
.clients-list .client span {
    font-weight: bold;
}

picture {
    border-radius: 50%;
    border: 2px solid red;
    
}
.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}